<div class="application-window">

  <div class="top-bar">
    <div class="primary-search-box">
      <input class="search-box">
      <button class="search-button">{{material-design-icon name='search'}}</button>
    </div>
  </div>

  <div class="content-view">
    {{outlet}}
  </div>

</div>